header {
    background: #4aaaa5;
    height: 100px;
    width: 300px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    z-index: 1;
    position: relative;
}

h1 {
    color: #fff;
    padding-top: 15px;
}

.navigation {
    align-self: flex-start;
    color: #777777;
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #fff;
    /* margin-left: 10%; */
    border-bottom-style: solid;
    border-color: #777777;
    border-width: 0.5px;
    margin: 0px auto;
}

h4 {
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    /* margin-right: 5%; */
    word-spacing: 10px;
    margin-top: 40px;
}

/* unvisited link */
a:link {
    color: #777777;
}

/* visited link */
a:visited {
    color: #381566;
}

img {
    margin-top: 12px;
    margin-left: 5%;
    float: left;
    border-right-style: solid;
    border-right-width: 20px;
    border-right-color: #fff;
}

h2 {
    color: #4aaaa5;
    text-emphasis: strong;
    padding: 2px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom-style: solid;
    border-bottom-color: #666666;
    border-bottom-width: 0.5px;
    padding-top: 30px;
    padding-bottom: 30px;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0 auto;
    position: relative;
    background-image: url("file:///Users/sarahmartinez/Desktop/coding_bootcamp/week_one/homework_one/dust_scratches/dust_scratches.png");
}

.container {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: auto;
    width: 960px;
    padding: 0px;
    position: relative;
}

p {
    line-height: 30px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

footer {
    background-color: #666666;
    height: 35px;
    text-align: center;
    border-top-style: solid;
    border-color: #4aaaa5;
    border-width: 10px;
    margin-top: 40px;
    padding-top: 20px;
    color: #fff;
    font-size: 12px;
}

.copyright {
    width: 100%;
    position: absolute;
}

.contactcontainer {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 40px auto;
    width: 960px;
    height: 670px;
    padding: 0px;
    position: relative;
}

#contact {
    margin-left: 5%;
    color: #777777;
    line-height: 30px;
}

#button {
    background-color: #4aaaa5;
    width: 50px;
    height: 25px;
    padding: 10px 40px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: white;
}

.portfoliocontainer {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 40px auto;
    width: 960px;
    height: 585px;
    padding: 0px;
    position: relative;
}